<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IT-Home Project</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
        crossorigin="anonymous">
</head>
<body style="background-color: #E8F0FE">
    <nav class="navbar bg-dark navbar-dark">
        <div class="container">
            <a href="#" class="navbar-brand"><i class="fas fa-comment-dots"></i> Message Board</a>
        </div>
    </nav>
    <section id="header" class="jumbotron text-center mt-4">
        <h1 class="display-3"> Ithome Message Board</h1>
    </section>
    <div class="container mt-4">
        <form action="/message" method="POST">
            <div class="row justify-content-md-center">
                    <div class="col-2 offset-1">
                        <input type="text" name="message[name]" class="form-control" placeholder="user" value="Anonymous" required>
                    </div>
                    <div class="col-6">
                        <input type="text" name="message[content]" class="form-control" placeholder="message" required>
                    </div>
                    <div class="col-2">
                        <button class="btn btn-primary">Send</button>
                    </div>
            </div>
        </form>
    </div>
    <div class="container mt-5">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col" width="20%">Name</th>
                    <th scope="col" width="70%">Message</th>
                    <th scope="col" width="10%"></th>
                </tr>
            </thead>
            <tbody id="teacherTable">
                <% for(let message of messages) { %>
                <tr>
                    <td><%= message.name %></td>
                    <td><%= message.content %></td>
                    <td>
                        <form class="d-inline" action="/message/<%= message.id %>?_method=DELETE" method="POST">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
                <% }%>
            </tbody>
        </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>
</html>